<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Language="1033" Manufacturer="Thycotic Software Ltd" Name="Thycotic Distributed Engine Service Limited Updater (x86)" Version="$(var.InstallerVersion)" UpgradeCode="896309D4-0521-447C-A404-35A9A62C1466">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="limited" Languages='1033'/>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="896309D4-0521-447C-A404-35A9A62C1466">
      <UpgradeVersion
          Minimum="1.0.0.0" Maximum="$(var.InstallerVersion)"
          Property="PREVIOUSVERSIONSINSTALLED"
          IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="ThycoticInstall" Name="Thycotic Software Ltd" ComponentGuidGenerationSeed="4701ED76-0A2E-4BE6-94BF-654EFB75BD10">
          <Directory Id="INSTALLLOCATION" Name="Distributed Engine"/>
        </Directory>
      </Directory>
    </Directory>

    <Icon Id="icon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>

    <Feature Id="Complete" Title="All Services" Level="1">
      <ComponentGroupRef Id="main_component_group" />
    </Feature>

    <!--<CustomAction Id='SetRootDrive' Property='ROOTDRIVE' Value='[%SystemDrive]\'/>-->

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <!-- App search is what does FindInstallLocation, and it is dependent on FindRelatedProducts -->
      <AppSearch After="FindRelatedProducts"/>
      <!--<Custom Action="SetRootDrive" Before="CostInitialize"></Custom>-->
    </InstallUISequence>

  </Product>
</Wix>