<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="FluentAssertions" version="3.2.2" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net451" />
  <package id="PostSharp" version="4.1.12" targetFramework="net451" />
  <package id="Thycotic.Discovery.Core" version="1.0.0.94" targetFramework="net451" />
  <package id="Thycotic.DistributedEngine.EngineToServerCommunication" version="5.0.0.348" targetFramework="net451" />
  <package id="Thycotic.Encryption" version="5.0.0.7" targetFramework="net451" />
  <package id="Thycotic.Logging" version="5.0.0.199" targetFramework="net451" />
  <package id="Thycotic.SharedTypes" version="5.0.0.124" targetFramework="net451" />
  <package id="Thycotic.Wcf" version="5.0.0.121" targetFramework="net451" />
</packages>