<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Messages.Common" publicKeyToken="40f42b7d5a8011f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.5" newVersion="5.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>