################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.nuget
/src/**/packages
/src/**/*.WiX/Output
**/bin/Debug
**/obj/Debug
**/bin/Release
**/obj/Release
**/bin/Static Analysis
**/obj/Static Analysis
