<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />

    <stepAssemblies>
      <stepAssembly assembly="Thycotic.Utility.SpecFlow" />
    </stepAssemblies>
    <runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Error" />

  </specFlow>
  
  <appSettings>

    <add key="RemoteConfiguration.ConnectionString" value="http://localhost/ihawu/" />

    <add key="RemoteConfiguration.FriendlyName" value="My Agent" />

    <!--IdentityGuid is generated when the Engine is created-->
    <add key="RemoteConfiguration.IdentityGuid" value="B80CD53F-2FA8-4984-9242-409BBE96D31C" />

  </appSettings>
  <log4net />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Discovery.Core" publicKeyToken="33ff8c00c367b219" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.105" newVersion="1.0.0.105" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Discovery.Sources" publicKeyToken="0ee4a5cc35cfd219" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.8" newVersion="1.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.PasswordChangers" publicKeyToken="fd31d0a9372d3669" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.58" newVersion="1.0.9.58" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.TaskScheduler" publicKeyToken="0d013ddd5178a2ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Wcf" publicKeyToken="40f42b7d5a8011f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.124" newVersion="5.0.0.124" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Licensing.Public" publicKeyToken="64ae9a88a5fb7596" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.20" newVersion="1.0.0.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Licensing.Common" publicKeyToken="64ae9a88a5fb7596" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.20" newVersion="1.0.0.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.SharedTypes" publicKeyToken="ba36f1f458df13fd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.126" newVersion="5.0.0.126" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Encryption" publicKeyToken="ba36f1f458df13fd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.13" newVersion="5.0.0.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Logging" publicKeyToken="40f42b7d5a8011f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.206" newVersion="5.0.0.206" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Utility" publicKeyToken="40f42b7d5a8011f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.29" newVersion="5.0.0.29" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.ActiveDirectory.Core" publicKeyToken="8798ddef59a3f9b6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.10" newVersion="1.0.0.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>