<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net451" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net472" />
  <package id="System.Management.Automation_PowerShell_3.0" version="6.3.9600.17400" targetFramework="net451" />
</packages>