<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net451" />
  <package id="FluentAssertions" version="3.2.2" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net451" />
  <package id="PostSharp" version="4.0.41" targetFramework="net451" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net451" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net451" />
  <package id="Thycotic.BlackBox" version="5.0.0.14" targetFramework="net451" />
  <package id="Thycotic.Discovery.Core" version="1.0.0.94" targetFramework="net451" />
  <package id="Thycotic.DistributedEngine.EngineToServerCommunication" version="5.0.0.346" targetFramework="net451" />
  <package id="Thycotic.Encryption" version="5.0.0.9" targetFramework="net451" />
  <package id="Thycotic.Foundation" version="2.5.0.0" targetFramework="net451" />
  <package id="Thycotic.Foundation" version="2.5.0.0" targetFramework="net451" />
  <package id="Thycotic.Licensing" version="1.0.0.10" targetFramework="net451" />
  <package id="Thycotic.Logging" version="5.0.0.204" targetFramework="net451" />
  <package id="Thycotic.PasswordChangers" version="1.0.9.175" targetFramework="net451" />
  <package id="Thycotic.SharedTypes" version="5.0.0.124" targetFramework="net451" />
  <package id="Thycotic.TaskScheduler" version="1.0.0.5" targetFramework="net451" />
  <package id="Thycotic.Wcf" version="5.0.0.121" targetFramework="net451" />
</packages>