<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Path.MSI" value="M:\development\repos\distributedengine\src\Thycotic.InstallerGenerator\Thycotic.InstallerGenerator.InteractiveRunner\bin\Debug\artifact\Thycotic.MemoryMq.SiteConnector.Service.x64.5.0.0.0.msi" />
    <!--TODO: Do not commit these-->
    <add key="Pipeline.ConnectionString" value="net.tcp://localhost:8672">
    </add>
    <add key="Pipeline.UseSsl" value="false">
    </add>
    <add key="Pipeline.Thumbprint" value="">
    </add>
    <!--<add key="Pipeline.Thumbprint" value="f1faa2aa00f1350edefd9490e3fc95017db3c897"></add>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="Thycotic.LogFileAppender" />
    </root>
    <logger name="Thycotic">
      <level value="DEBUG" />
    </logger>
    <appender name="Thycotic.LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<file value="C:\LogFiles\Thycotic\SSDEI.log" />-->
      <file value="log\TIR.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="34" />
      <maximumFileSize value="1MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{Context} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>