<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="Path.MSI" value="M:\development\repos\distributedengine\src\Thycotic.InstallerGenerator\Thycotic.InstallerGenerator.InteractiveRunner\bin\Debug\artifact\Thycotic.MemoryMq.SiteConnector.Service.x64.5.0.0.0.msi"/>

    <!--TODO: Do not commit these-->
    <add key="Pipeline.ConnectionString" value="net.tcp://localhost:8672"></add>
    <add key="Pipeline.UseSsl" value="false"></add>
    <add key="Pipeline.Thumbprint" value=""></add>
    <!--<add key="Pipeline.Thumbprint" value="f1faa2aa00f1350edefd9490e3fc95017db3c897"></add>-->
  </appSettings>
</configuration>
