<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <connectionStrings>
    <!-- not used since autofac configures through app settings -->
  </connectionStrings>
  <appSettings>

    <add key="RemoteConfiguration.ConnectionString" value="http://localhost/ihawu/"/>

    <add key="RemoteConfiguration.FriendlyName" value="My Agent"/>

    <!--IdentityGuid is generated when the Engine is created-->
    <!--<add key="RemoteConfiguration.IdentityGuid" value="B80CD53F-2FA8-4984-9242-409BBE96D31C"/>-->
    <add key="RemoteConfiguration.IdentityGuid" value="B80CD53F-2FA8-4984-9242-409BBE96D31D"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="Thycotic.ConsoleFileAppender" />
      <appender-ref ref="Thycotic.LogFileAppender" />
      <appender-ref ref="Thycotic.AdoNetAppender" />
    </root>

    <logger name="Thycotic">
      <level value="INFO" />
    </logger>

    <appender name="Thycotic.ConsoleFileAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="DarkRed" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="DarkGray" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{Context} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Thycotic.LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\LogFiles\Thycotic\SecretServerAgent2Interactive.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="34" />
      <maximumFileSize value="1MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{Context} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Thycotic.AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=(local);initial catalog=Log4NetSSA2;integrated security=true" />
      <commandText value="INSERT INTO Log ([Date],[ServiceRole],[Correlation],[Context],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, 'SecretServerAgent2', @correlation, @context, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@context" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Context}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@correlation" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Correlation}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
</configuration>
