<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <connectionStrings>
    <!-- not used since autofac configures through app settings -->
  </connectionStrings>
  <appSettings>

    <!-- #region Pipeline service -->
    <!-- IMPORTANT: since this is decouples from the engine, be sure that settings here match what engine is getting from secret server -->
    <add key="Pipeline.ConnectionString" value="net.tcp://localhost:8672"></add>
    <add key="Pipeline.UseSSL" value="false"></add>

    <!--<add key="Pipeline.ConnectionString" value="net.tcp://localhost:8671"></add>
    <add key="Pipeline.UseSSL" value="true"></add>
    <add key="Pipeline.Thumbprint" value="f1faa2aa00f1350edefd9490e3fc95017db3c897"></add>-->
    <!-- #endregion -->

    <!-- #region Engine service -->
    <!--<add key="EngineToServerCommunication.ConnectionString" value="net.tcp://localhost:8881" />-->
    <add key="EngineToServerCommunication.ConnectionString" value="http://localhost/ihawu/DistributedEngine/EngineToServiceCommunication.svc" />

    <add key="EngineToServerCommunication.UseSsl" value="false" />

    <add key="EngineToServerCommunication.ExchangeId" value="1" />

    <add key="EngineToServerCommunication.OrganizationId" value="1" />

    <add key="EngineToServerCommunication.FriendlyName" value="Agent007a" />
    <!-- #endregion -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="Thycotic.ConsoleFileAppender" />
      <appender-ref ref="Thycotic.LogFileAppender" />
      <appender-ref ref="Thycotic.AdoNetAppender" />
    </root>

    <logger name="Thycotic">
      <level value="INFO" />
    </logger>

    <appender name="Thycotic.ConsoleFileAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="DarkGray" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{Context} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Thycotic.LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\LogFiles\Thycotic\SSDEI.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="34" />
      <maximumFileSize value="1MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{Context} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Thycotic.AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=(local);initial catalog=SSDELog4Net;integrated security=true" />
      <commandText value="INSERT INTO Log ([Date],[ServiceRole],[Correlation],[Context],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, 'Thycotic.DistributedEngine.InteractiveRunner', @correlation, @context, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@context" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Context}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@correlation" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Correlation}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.ihawu.Business" publicKeyToken="ba36f1f458df13fd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.8.14.0" newVersion="8.8.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Discovery.Core" publicKeyToken="33ff8c00c367b219" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.7" newVersion="1.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.Discovery.Sources" publicKeyToken="0ee4a5cc35cfd219" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thycotic.PasswordChangers" publicKeyToken="fd31d0a9372d3669" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.23" newVersion="1.0.9.23" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
