<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net451" />
  <package id="PostSharp" version="4.0.41" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net451" />
  <package id="Thycotic.BlackBox" version="5.0.0.17" targetFramework="net451" />
  <package id="Thycotic.CLI" version="5.0.0.35" targetFramework="net451" />
  <package id="Thycotic.Discovery.Core" version="1.0.1.19" targetFramework="net451" />
  <package id="Thycotic.Discovery.Sources" version="1.0.1.10" targetFramework="net451" />
  <package id="Thycotic.Foundation" version="2.5.0.0" targetFramework="net451" />
  <package id="Thycotic.Logging" version="5.0.0.218" targetFramework="net451" />
  <package id="Thycotic.MemoryMq" version="5.0.0.15" targetFramework="net451" />
  <package id="Thycotic.MessageQueue.Client" version="5.0.0.29" targetFramework="net451" />
  <package id="Thycotic.Messages.Common" version="5.0.0.5" targetFramework="net451" />
  <package id="Thycotic.TaskScheduler" version="1.0.0.37" targetFramework="net451" />
  <package id="Thycotic.Utility" version="5.0.0.29" targetFramework="net451" />
  <package id="Thycotic.Wcf" version="5.0.0.125" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="3.0.9" targetFramework="net451" />
</packages>