<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Thycotic.Discovery.Core" version="1.0.0.100" targetFramework="net451" />
  <package id="Thycotic.Logging" version="5.0.0.206" targetFramework="net451" />
  <package id="Thycotic.SharedTypes" version="5.0.0.126" targetFramework="net451" />
  <package id="Thycotic.Utility" version="5.0.0.21" targetFramework="net451" />
</packages>